/* Blue */
.theme-base-0d .sidebar,
.theme-base-0d .sidebar-toggle:active {
  background-color: #FFF;
}
.theme-base-0d .container a,
.theme-base-0d .sidebar-toggle,
.theme-base-0d .related-posts li a:hover {
  color: #000;
}

body {
  counter-reset: cnt_figure;
  counter-reset: cnt_table;
}

.figure {
  counter-increment: cnt_figure;
}

html:lang(de) span.ref-figure:before {
  content: "Abbildung " counter(cnt_figure);
}

html:lang(en) span.ref-figure:before {
  content: "Figure " counter(cnt_figure);
}

html:lang(de) span.ref-table:before {
  content: "Tabelle " counter(cnt_table);
}

html:lang(en) span.ref-table:before {
  content: "Table " counter(cnt_table);
}



.table {
  counter-increment: cnt_table;
}

.caption {
  font-size:0.9em;
}

.caption:before {
  font-weight:bold;
}

div.footnotes {
  border-top: solid   #454545 1px;
  padding-top:20px;
}

html:lang(en) .figure .caption:before {
  content: "Figure " counter(cnt_figure) ": ";
}

html:lang(en) .table .caption:before {
  content: "Table " counter(cnt_table) ": ";
}

html:lang(de) .figure .caption:before {
  content: "Abbildung " counter(cnt_figure) ": ";
}

html:lang(de) .table .caption:before {
  content: "Tabelle " counter(cnt_table) ": ";
}

pre.highlight {
  background-color: #EEE;
}

.headline {
  font-size: 0.9rem;
  color:#909090;
  margin-top:0px !important;
  margin-bottom:0px !important;
}
.headline .left {
  float:left;
}
.headline .right {
  float:right;
}

.right_aligned {
  text-align:right;
}

a.catlink {
  color: #909090 !important;
}

.post h2 {
  margin-top:50px;
}

ul.posts {
  list-style: none;
  padding-left:0;
}

.posts li {
  clear:left;
  height:100%;
  margin-bottom:35px;
}

.posts li div {
  margin-top:20px;
  margin-bottom:20px;
}

.posts li p {
  margin-bottom:3px;
}

.posts li p.date {
  font-size:0.8rem;
  color:#999;
}


.posts li p.title {
  font-size:1.1rem;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

}

.posts li div img {
  position:relative;
  top:-10px;
  border:thin solid #454545;
  float:left;
  width:auto;
  margin-right:20px;
  max-width:150px;
  max-height:120px;
}

.postlogo {
  float:right;
  border:thin solid #454545;
  max-width: 150px;
  max-height: 150px;
}

.qd_title {
  font-style: italic;
}

/**
 * publications
 */

.publication {
}

.publication span.booktitle {
  font-style: italic;
}

.publication span.title {
  font-weight: bold;
}

.publication span.journal {
  font-style: italic;
}

.publication .abstract {
  font-size:0.8em;
}

.publication .status {
	font-style: italic;
}

/**
 * talks
 */

.talk {
  margin-bottom:30px;
}

.talk .title {
  font-weight: bold;
}



/**
 * inline tab
 */

.itab {
  list-style: none;
  width:100%;
  color:white;
  background-color: #416FB8;
  margin:0 auto;
  padding-left:10px;
  padding-right:10px;
}

.itab > * {
  display: inline-flex;
  padding:8px;
  margin:0 auto;
  text-align: center;
}

ul.itab > * > a {
  color:black !important;
  text-decoration: none;
}

ul.itab li:hover,
ul.itab li.active {
  background-color: rgba(255,255,255,.3);
}

/**
 * about > logos
 */

div.logoline {
  text-align: center;
}

div.logoline img {
  display:inline-block;
  margin-right:15px;
  border-radius: 0;
}

/**
 * languages
 */

.sidebar div ul.languages {
  margin:0 auto;
  padding:0;
  width:100%;
}

.sidebar div ul.languages li {
  margin:0 auto;
  display:inline-block;
  padding:5px;
}

.sidebar ul.languages .en:lang(en), .fr:lang(fr), .de:lang(de){
  background-color: rgba(255, 255, 255, .1);
}

/*
 * tables
 */
table,
div.table > div {
  font-size: 14px;
}




